@page
@model Cinemagic.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        
        background-image: url('/Images/Background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white;
        margin: 0;
        padding: 0;
    }

        /* שכבת כהות */
        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* 0.5 = כהות 50% */
            z-index: -1;
        }


    .navbar {
        background-color: rgba(0, 0, 0, 0.6) !important;
        backdrop-filter: blur(4px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .text-center {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 20px;
        border-radius: 10px;
    }
</style>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<div class="text-center mt-5">
    <h1 class="display-4">🎬 Cinemagic ברוכים הבאים ל־</h1>
    <h2 class="h2  mb-3"> העולם שלך לסרטים, סדרות ורכישות</h2>
    <p class="lead">בחר סרט או סדרה ותהנה מהחוויה הקולנועית מהבית</p>
</div>

    
  