@page
@model Cinemagic.Pages.Login.IndexModel
@{
    ViewData["Title"] = "התחברות";
    Layout = "_Layout";
    ViewData["NavClass"] = "login-page"; // נשתמש בזה להוסיף מחלקה ל־navbar
}

<div class="container mt-5" style="max-width: 500px;">
    <div class="card shadow rounded-4 p-4">
        <h2 class="text-center mb-4 text-primary">התחברות למערכת</h2>

        <form method="post">
            <div class="mb-3">
                <label for="IdintityCard" class="form-label">מספר תעודת זהות</label>
                <input type="text" id="IdintityCard" name="IdintityCard" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Login</button>

            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="text-danger mt-2">@Model.ErrorMessage</div>
            }
        </form>

        <hr />
        <div class="text-center mt-3">

            <a href="/Members/Create" class="text-decoration-none">עוד לא רשום? צור משתמש חדש</a>
        </div>
    </div>
</div>
