@page
@model Cinemagic.Pages.Purchases.CreateSeriePModel

@{
    ViewData["Title"] = "Purchase Serie";
}

<h1>Purchase Serie</h1>

<h4>Purchase Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Serie Name -->
            <div class="form-group">
                <label>Serie Name:</label>
                <input type="text" class="form-control" value="@Model.SerieName" readonly />
            </div>

            <!-- Hidden SerieID -->
            <input type="hidden" asp-for="Purchase.SerieID" />

            <!-- Identity Card -->
            <div class="form-group">
                <label>Identity Card:</label>
                <input type="text" class="form-control" value="@Model.IdentityCard" readonly />
            </div>

            <!-- Hidden MemberID -->
            <input type="hidden" asp-for="Purchase.MemberID" />

            <!-- Email -->
            <div class="form-group">
                <label asp-for="Purchase.Email" class="control-label">Email Address</label>
                <select asp-for="Purchase.Email" class="form-control" asp-items="ViewBag.Email">
                    <option value="">Select Email</option>
                </select>
                <span asp-validation-for="Purchase.Email" class="text-danger"></span>
            </div>

            <!-- Purchase Date -->
            <div class="form-group">
                <label asp-for="Purchase.PurchaseDate">Purchase Date</label>
                <input asp-for="Purchase.PurchaseDate" class="form-control" readonly />
                <span asp-validation-for="Purchase.PurchaseDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CouponCode">קוד קופון</label>
                <input asp-for="CouponCode" class="form-control" />
                <span asp-validation-for="CouponCode" class="text-danger"></span>
            </div>


            <!-- Total Price -->
            <div class="form-group">
                <label asp-for="Purchase.Total">Total Amount</label>
                <input asp-for="Purchase.Total" class="form-control" readonly />
                <span asp-validation-for="Purchase.Total" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Buy" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to Purchase List</a>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
