@page
@model Cinemagic.Pages.Purchases.CreateSeriePModel

@{
    ViewData["Title"] = "רכישת סדרה";
}

<h1>רכישת סדרה</h1>

<h4>פרטי רכישה</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- הצגת שם הסדרה -->
            <div class="form-group">
                <label>שם הסדרה:</label>
                <input type="text" class="form-control" value="@Model.SerieName" readonly />
            </div>

            <!-- שדה חבוי לשמירת SerieID -->
            <input type="hidden" asp-for="Purchase.SerieID" />

            <!-- ת"ז -->
            <div class="form-group">
                <label>תעודת זהות:</label>
                <input type="text" class="form-control" value="@Model.IdentityCard" readonly />
            </div>

            <!-- מזהה משתמש -->
            <input type="hidden" asp-for="Purchase.MemberID" />

            <!-- אימייל -->
            <div class="form-group">
                <label asp-for="Purchase.Email" class="control-label">כתובת אימייל</label>
                <select asp-for="Purchase.Email" class="form-control" asp-items="ViewBag.Email">
                    <option value="">בחר אימייל</option>
                </select>
                <span asp-validation-for="Purchase.Email" class="text-danger"></span>
            </div>

            <!-- תאריך רכישה -->
            <div class="form-group">
                <label asp-for="Purchase.PurchaseDate">תאריך רכישה</label>
                <input asp-for="Purchase.PurchaseDate" class="form-control" readonly />
                <span asp-validation-for="Purchase.PurchaseDate" class="text-danger"></span>
            </div>

            <!-- סכום -->
            <div class="form-group">
                <label asp-for="Purchase.Total">סכום לתשלום</label>
                <input asp-for="Purchase.Total" class="form-control" readonly />
                <span asp-validation-for="Purchase.Total" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="רכוש" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">חזרה לרשימת רכישות</a>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
